.inscricao {
	background: url('../../assets/inscricao.png') no-repeat bottom;
	background-size: cover;
	padding-block: 150px;
	&--inner {
		position: relative;
		@include device(xxl) {
			display: flex;
			flex-direction: column;
			gap: 100px;
		}
	}
	form {
		grid-column: 1 / 5;
		box-shadow: 0 0 0 15px $laranja;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 100px;
		padding: calc(100px - 15px) 18px;
		position: absolute;
		top: -180px;
		@include device(xxl) {
			position: initial;
			margin-inline: auto;
		}

		.field-wrapper {
			position: relative;
		}
		h2 {
			font-size: rem(39);
			font-weight: bold;
			color: $laranja;
			text-align: center;
		}
		label {
			position: absolute;
			text-align: center;
			left: 50%;
			bottom: 10px;
			transform: translate(-50%, 0);
			color: $cinza;
			font-size: rem(30);
			width: 100%;
			opacity: 0.5;
			pointer-events: none;
			transition: 0.2s;
			&.active {
				font-size: rem(16);
				top: -20px;
				color: black;
				opacity: 1;
			}
		}
		input {
			border: none;
			border-bottom: 2px solid $laranja;
			padding: 8px;
			outline: none;
			font-size: rem(30);
			width: 100%;
			text-align: center;
		}
		button {
			background-color: $laranja;
			padding-block: 17px;
			border: none;
			color: white;
			line-height: 1;
			text-transform: uppercase;
			font-size: rem(30);
			cursor: pointer;
		}
	}
	.contato {
		grid-column: 6 / -1;
		display: flex;
		flex-direction: column;
		gap: 100px;
		p {
			color: white;
			@include device(md) {
				font-size: rem(30);
			}
		}
	}
	.email,
	.anuncio {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 20px;

		@include device(custom, 430px) {
			grid-template-columns: 1fr;
			justify-items: center;
			text-align: center;
		}
	}
	.email {
		&::before {
			content: '';
			background: url('../../assets/email.png') no-repeat center center;
			width: 100px;
			height: 100px;
		}
	}
	.anuncio {
		&::before {
			content: '';
			background: url('../../assets/anuncio.png') no-repeat center center;
			width: 100px;
			height: 100px;
		}
	}
	.sociais {
		display: flex;
		align-items: center;
		gap: 30px;
		@include device(md) {
			flex-direction: column;
		}
		a {
			height: 60px;
			width: 60px;
			background-size: cover;
			background-position: center center;
			display: inline-block;
			font-size: 0;
		}
		ul {
			display: flex;
			align-items: center;
			gap: 50px;
		}
		li {
			display: flex;
		}
		li:nth-of-type(1) a {
			background-image: url('../../assets/instagram.png');
		}
		li:nth-of-type(2) a {
			background-image: url('../../assets/facebook.png');
		}
		li:nth-of-type(3) a {
			background-image: url('../../assets/twitter.png');
		}
	}
}
